[package]
name = "utoipa"
description = "Compile time generated OpenAPI documentation for Rust"
version = "0.1.2"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["rest-api", "openapi", "auto-generate", "documentation", "compile-time"]
# documentation = ""
# homepage = ""
repository = "https://github.com/juhaku/utoipa"
categories = ["web-programming"]
authors = [
  "Juha Kukkonen <juha7kukkonen@gmail.com>"
]

exclude = [
  ".git*",
  ".github"
]

[features]
default = ["json"]
debug = ["utoipa-gen/debug"]
actix_extras = ["utoipa-gen/actix_extras"]
json = ["serde_json", "utoipa-gen/json"]
chrono = ["utoipa-gen/chrono"]
chrono_with_format = ["utoipa-gen/chrono_with_format"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", optional = true }
utoipa-gen = { version = "0.1.2", path = "./utoipa-gen" }

[dev-dependencies]
actix-web = { version = "4" }
paste = "1"
chrono = { version  = "0.4", features = ["serde"] }

[workspace]
members = [
  "utoipa-gen",
  "utoipa-swagger-ui"
]

[package.metadata.docs.rs]
features = ["json", "actix_extras"]

[package.metadata.publish]
order = ["utoipa-gen", "utoipa", "utoipa-swagger-ui"]
