[package]
name = "utoipa"
description = "Compile time rest API documentation for Rust"
version = "0.1.0-beta.2"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["rest-api", "rest", "openapi3", "documentation", "compile-time"]
# documentation = ""
# homepage = ""
repository = "https://github.com/juhaku/utoipa"
categories = ["web-programming"]
exclude = [
  ".git*",
  ".github"
]

[features]
default = ["json"]
swagger_ui = ["rust-embed", "mime_guess"]
debug = ["utoipa-gen/debug"]
actix_extras = ["utoipa-gen/actix_extras"]
json = ["serde_json", "utoipa-gen/json"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
log = "0.4.14"
serde_json = { version = "1.0", optional = true }
rust-embed = { version = "6.3", optional = true, features = ["interpolate-folder-path"] }
actix-web =  { version = "3.3", optional = true }
mime_guess = { version = "2.0", optional = true }
utoipa-gen = { version = "0.1.0-beta.2", path = "./utoipa-gen" }

[dev-dependencies]
paste = "1.0.6"

[workspace]
members = [
  "utoipa-gen"
]

[package.metadata.docs.rs]
features = ["swagger_ui", "json", "actix-web", "actix_extras"]