[package]
name = "utoipa-gen"
description = "Code generation implementation for utoipa"
version = "1.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["openapi", "codegen", "proc-macro", "documentation", "compile-time"]
repository = "https://github.com/juhaku/utoipa"
authors = [
  "Juha Kukkonen <juha7kukkonen@gmail.com>"
]

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
proc-macro-error = "1.0"
regex = { version = "1.5", optional = true } 
lazy_static = { version = "1.4", optional = true }
uuid = { version = "1", optional = true }

[dev-dependencies]
utoipa = { path = ".." }
serde_json = "1"
serde = "1"
actix-web = { version = "4", features = [ "macros" ], default-features = false }

[features]
debug = ["syn/extra-traits"]
actix_extras = ["regex", "lazy_static"]
chrono = []
chrono_with_format = []
json = []
decimal = []
rocket_extras = ["regex", "lazy_static"]
uuid = ["dep:uuid"]
axum_extras = []
